* {
    box-sizing: border-box;
}

body {
    background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(https://images.wallpaperscraft.com/image/single/moon_tree_starry_sky_132139_3840x2160.jpg)
    no-repeat center;
     height: 100vh;
    background-size: cover;
    font-family: 'Lato', sans-serif;
}

table.responsive-table th {
    min-width: 84px;
}

table.responsive-table th,
table.responsive-table td {
    border: 1px solid #B3BFAA;
    padding: .5em 1em;
}

table.responsive-table th{
    background: #CCD6E0;
}
table.responsive-table td{
    background: #fff;
}

table.responsive-table {
    width: 70%;
    border-collapse: collapse;
    margin: 3em 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    font-size: 0.85em;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 40em) {

    table.responsive-table {
        box-shadow: none;
        table-layout: fixed;
    }
    table.responsive-table thead {
        display: none;
    }

    table.responsive-table td {
        padding-left: 39%;
    }

    .company-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .white-space-normal {
        white-space: normal;
        overflow: auto;
        text-overflow: normal;
    }

    table.responsive-table td:before {
        position: absolute;
        left: .5em;
        font-weight: bold;
    }

    table.responsive-table tr,
    table.responsive-table td {
        display: block;
        font-size: 0.95em;
    }
    table.responsive-table tr {
        position: relative;
        margin-bottom: 1em;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    }
    table.responsive-table td{
        border-top: none;
    }

    table.responsive-table td.mobile-hide {
        display: none;
    }

    .show-table {
        cursor: pointer;
    }

    table.responsive-table td:nth-child(1):before {
        content: 'Company Name';
    }
    table.responsive-table td:nth-child(2):before {
        content: 'City';
    }
    table.responsive-table td:nth-child(3):before {
        content: 'Country';
    }
    table.responsive-table td:nth-child(4):before {
        content: 'Company Role';
    }
    table.responsive-table td:nth-child(5):before {
        content: 'Edit/Remove';
    }

    table.responsive-table td.company-name{
        background: #CCD6E0;
        border-top: 1px solid #B3BFAA;
    }

}